<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instabookr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.instabookr.SplashActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".OtpActivity"></activity>
        <activity android:name=".AdditionalInfoActivity"></activity>
        <activity android:name=".MyCartActivity"></activity>
        <activity android:name=".UserProfileActivity"></activity>
        <activity android:name=".ProfileEditActivity"></activity>
        <activity android:name=".BookingListActivity"></activity>
        <activity android:name=".BookingDetailsActivity"></activity>
        <activity android:name=".OffersMainActivity"></activity>

    </application>

</manifest>
